/*
Theme Name: renden Child Theme
Description: Theme of Renden Child Theme
Theme URI: ThinkUpThemes
Author: WordCracker
Author URI: http://www.ThinkUpThemes.com
Template: renden
Version: 1.3.7
*/

/* 여기부터 사용자 코드 */